*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#child{
    height: 15rem;
}
#location{
    display: flex;
    flex-direction: column;
}
#phone{
    display: flex;
    flex-direction: column;
}
#mail{
    display: flex;
    flex-direction: column;
}
