 /* responsive styling for header only  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  #details{
    height: 2rem;
    background-color: white;
    color: #82c1bb;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #header{
    width: 100%;
    height: 8rem;
    background-color: #82c1bb !important;
    }
#nav_title{
  color: #fff;
}
#offcanvasNavbarLabel span{
  color: #82c1bb;
  font-size: 2.5rem;
  font-weight: 700;
}
#toggled_nav span{
  color: #82c1bb;
  font-size: 2rem;
  font-weight: 500;
}
#btn{
  background-color: #fff;
}
#btn:hover{
  background-color: #ff0000 !important;
}
@media (max-width:5000px) {
  #nav_title{
    font-size: 4rem;
  }
  
}
@media (max-width: 1200px) {
  #nav_title{
    font-size: 4rem;
  }
}
@media (max-width: 1200px) {
  #nav_title{
    font-size: 4rem;
  }
}
@media (max-width: 992px) {
  #nav_title{
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  #nav_title{
    font-size: 4.5rem;
  }
}
@media (max-width: 576px) {
  #nav_title{
    font-size: 3rem;
  }
}
@media (max-width:350px){
   #nav_title{
  font-size: 2.5rem;
} 
  
}
